.educations{
    width: 100%;
}

.educations .education-container{
    width: 100%;
    row-gap: 1rem;
    flex-direction: column;
}

.educations .education{
    width: 100%;
    justify-content: space-between;

    border-left: 5px solid var(--border);
    padding-left: 1rem;

}

.institute h3, .institute p{
    margin: 0;
    text-align: left;
}