.extensions{
    width: 100%;
}

.extensions .extensions-container{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 1rem;
    row-gap: 1rem;
}


.extensions-container  .extension {
    width: 45%;
}

.extension-img img{
    width: 5rem;
}