.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    color: var(--text-primary);

    padding: 1.5rem 0;

    position: sticky;
    z-index: 10;
    top: 0;


    background: var(--navbar-background);
    transition: 0.5s ease-out;
    backdrop-filter: blur(6px);
}

.navbar-right {
    column-gap: 0.75rem;
}


.navbar .navbar-icon{
    display: flex;
    align-items: center;

    column-gap: 0.35rem;
}

.navbar .navbar-icon,
.navbar .navbar-menu{
    font-size: 2.5rem;
    color: var(--text-secondary);
}

.navbar-menu{
    position: relative;
    top: 0.25rem;

    display: none;
}

.navbar-routes {
    column-gap: 1.5rem;
}

.navbar-icon h4{
    font-weight: 900;
}

.navbar-icon,
.navbar-icon h4
{
    color: var(--text-secondary);
}


@media screen and (max-width: 480px) {
    
    .navbar .navbar-icon{
        font-size: 1.78rem;
    }

    .navbar-routes {
        display: none;
    }

    .navbar-menu{
        display: block;
    }
}