.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1rem 0 0;

    color: var(--text-primary);
}

.navbar .navbar-icon{
    display: flex;
    align-items: center;

    font-size: 2.5rem;
    column-gap: 0.35rem;
}

.navbar-routes {
    column-gap: 1.5rem;
}

.navbar-icon h4{
    font-weight: 900;
}

.navbar-icon,
.navbar-icon h4
{
    color: var(--text-secondary);
}