.my-skills h2{
    font-weight: 900;
    margin-bottom: 0.75rem;
}

.my-skills .my-technologies{
    column-gap: 1rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;


}

.my-technologies .technology {
    flex-direction: row;
    column-gap: 0.5rem;

    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.35rem 0.75rem;
}

.technology  h3{
    
    font-size: 0.85rem;
    font-weight: 800;
}