@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

:root {
  /*--background: #222831;*/
  /*--container: rgba(57, 62, 70, 0.7);*/
  --background: #FDFAFF;
  --border: #585454;
  --tech-container: #3A3939 ;
  --button: #433564;
}

.dark {
  --background: #FDFAFF;
  --border: #585454;
  --tech-container: #3A3939 ;
  --button: #433564;
}

html {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  width: fit-content;
}

.cursor-btn {
  cursor: pointer;
}

h1{
  font-size: 3.5rem;
  font-weight: 1000;
}

h2{
  font-size: 2.5rem;
  font-weight: 900;
}

h3{
  font-size: 1.5rem;
  font-weight: 900;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  font-size: 0.75;
  font-weight: 500;
}

p{
  font-size: 0.85rem;
  font-weight: 500;
}