
* {
  box-sizing: border-box;
}

:root {
  /*--background: #222831;*/
  /*--container: rgba(57, 62, 70, 0.7);*/
  --background: #FDFAFF;
  --border: #9f9c9c;
  --container: #191919;
  --tech-container: #3A3939 ;
  --button: #433564;
  --text-primary: #000000;
  --text-secondary: #262728;
}

.dark {
  --background: #0F1012;
  --border: #32363c;
  --text-primary: #FFFFFF;
  --text-secondary: #D2D2D2;
  
}

html {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-style: normal;
}


