.coding-profiles{
    width: 100%;
}

.coding-profiles .coding-profiles-lists{
    column-gap: 1rem;
    row-gap: 0.75rem;

    flex-wrap: wrap;
}

.coding-profiles-lists .coding-profile-li{
    flex-direction: row;  
    
    column-gap: 0.75rem;

    border: 1px solid var(--border);

    padding: 0.25rem 0.5rem;

    color: var(--text-secondary);
}


.coding-profiles-lists .coding-profile-li:hover,
.coding-profiles-lists .coding-profile-li:active
{
    border: 1px solid var(--text-primary);
    transform: scale(1.05);

}

.coding-profile-li:hover h5,
.coding-profile-li:active h5,
.coding-profile-li:hover svg,
.coding-profile-li:active svg
{
    color: var(--text-primary);
}

