.about-me {
    width: 90%;
    height: 100%;

    margin-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 5rem;

    column-gap: 2rem;
}

.about-me .information{
    text-align: left;
    flex-direction: column;

    align-items: flex-start;
    row-gap: 0.1rem;
}

.about-me .coding-animation{
    width: 60%;
    max-width: 25rem;
}

.information .my-socials{
    justify-content: flex-start;
    column-gap: 0.75rem;
}

.information .download-link{
    column-gap: 1rem;
}

.information .my-socials{
    font-size: 2rem;
}


.download-link .contact-me-btn{
    background: transparent;

    border-color: var(--text-secondary);
}


.contact-me-btn h5{
    color: var(--text-secondary);
}